/*------/ RENEWABLE ENERGY SITE /-------*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    height: 100vh !important;
}


body {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   background-color: #fbfbfb;

   animation: fadeInAnimation ease .5s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;

    font-family: proxima-nova, sans-serif !important;
}

/*custom scrollbar*/
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #949494 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
height: 12px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #949494;
border-radius: 10px;
border: 3px solid #ffffff;
}


@keyframes fadeInAnimation {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
     }
}


 @-webkit-keyframes smoothDisplay {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*body loader*/
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999 !important;
    background: rgba(255,255,255,0.5) url("../images/loader2.gif") center no-repeat;

}

body.loading{
    overflow: hidden;   
}

body.loading .overlay{
    display: block;
}

/*---------------/ Footer /----------------*/
footer{
  position: relative;
  background: #042A2B;
  min-height: 150px;
}

.footer-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nexgen-energy-footer-brand-box{
    height: 137px;
}

.nexgen-energy-footer-brand{
    height: 145px;
    max-width: 250px;
}

.nexgen-energy-footer-logo{
/*    background: rgba(255,255,255,.8);*/
}

.social-links{
    color: #fff;
    font-size: 1.125rem;
    margin: 1rem 0 4rem;
    display: flex;
    justify-content: center;
}

.social-links-logo{
    height: 32px;
    margin: 0 0.3rem;
}

.social-links-logo:hover{
    cursor: pointer;
}

.footer-copyright{
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8125rem;
}

ul.footer-copyright > li:hover {
    cursor: pointer;
}

/*---------------/ Main /-------*/

header {
    position: relative;
}

.green-accent{
    color:#1C9647;
}

.gray-accent{
     color:#38383A;
}

.emphasize{
    font-weight: 600;
}

.italic{
    font-style: italic;
}
/*---------------/ Navbar /----------------*/
#renewable-energy-navbar{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    
    background: rgba(255,255,255,1);
    height: 72.56px;
    padding: 0 20px 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.renewable-energy-brand{
    height: 87px;
    max-width: 272.08px;
}

.renewable-energy-logo {
/*    background: rgba(255,255,255,.9);*/
}

#renewable-energy-burger-menu{
    border-radius: 0;
    border-width: 0;
    color: #000;
    --bs-navbar-toggler-focus-width: 0;
}

#renewable-energy-navMenuCollapse > ul{
    list-style: none;
    padding-left: 0;

/*    margin-top: 0.4rem;*/    
}

#renewable-energy-navMenuCollapse > ul > li{
    cursor: pointer;
}


#renewable-energy-navMenuCollapse > ul > li{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

#renewable-energy-navMenuCollapse > ul > li:first-child{
    border-top: .1rem solid rgba(0,0,0,.2);
}

#renewable-energy-navMenuCollapse > ul > li.nav-item > a, 
#renewable-energy-navMenuCollapse > ul > li.nav-item > div{
    color: #12326D;
    padding: 12px 15px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 28px;
}

 
 

/*---------------/ Header /----------------*/
.header-cover {
    overflow: hidden;
}

.header-cover-video-box{
   position: relative;
   height: 747px;
}

.header-cover-video{
    position: absolute;
    max-width: 100%;
}

.header-cover-title-box{
    position: absolute;
    bottom: 22rem;
    padding: 0 .5rem;
}



.header-cover-pic {
  animation-name: scale-bg;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  background-image: url('../images/renewable-energy-header-homepic.jpeg'),
  linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.8));
  background-blend-mode: overlay;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 900px;
  transition: background-image .5s;
}

@keyframes scale-bg {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}

.header-cover-title{
    color: #fff;
    font-size: 2.375rem;
    letter-spacing: 4px;
    line-height: 1.3;
    font-weight: 700;
    text-shadow: 2px 7px 5px rgba(0,0,0,.1), 0px -4px 10px rgba(255,255,255,0);
  /*  animation: 4s slide-right .1s forwards;
    transform:translateX(-120%);*/
}


@keyframes slide-right {
  to {
    transform:translateX(0%);
  }
}

/*---------------/ Home /----------------*/

.main-renewable-energy-container{}


/*about us*/
.about-us{
    background: #f3f3f3;
    height: 770px;
    padding: 50px 5rem;
    display: flex;
    align-items: center;
}

.about-us-box{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
}

.about-us-img-box{
    flex: 0 0 auto;
    width: 40%;
    height: 350px;
}

.about-us-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-us-content-box{
   padding: 1.625rem 0 0 2.5rem;
}

.about-us-title-head, .about-us-ptext {
    letter-spacing: 2px;
}

.about-us-title-head{
    font-size: 1.625rem;
    font-weight: 600;
}

.about-us-ptext{
    min-height: 200px;
    font-size: 1.125rem;
    line-height: 1.8;
    text-align: justify;
}

/*renewable-energy-category*/
/*hydro*/
.renewable-hydro{
   background-image: url('../images/renewable-hydro.jpg'),
   linear-gradient(rgba(36,37,42,.9),rgba(36,37,42,.9));
   background-blend-mode: overlay;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center 75%;
   background-repeat: no-repeat;
   height: 1045px;
}

.renewable-hydro-box{
   padding-top: 7rem; 
   display: flex;
   align-items: center;
   max-width: 89%;
   margin: 0 auto;
}

.renewable-hydro-img-box{
    flex: 0 0 auto;
    width: 40%;
    height: 350px;
}

.renewable-hydro-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.renewable-hydro-content-box{
    flex: 0 0 auto;
    width: 60%;
    min-height: 350px;
}

.renewable-hydro-content{
    color: #fff;
    background: rgb(25, 105, 35);
    clip-path:polygon(5% 0%, 100% 0%, 99% 80%, 95% 100%, 0% 100%, 1% 20%);

    padding-top: 1.9rem;
    padding-right: 1.9rem;
    padding-bottom: 1.2rem;
    padding-left: 2.5rem;
}

.renewable-hydro-content.content-1{
    margin-top: 1.1rem;
    background: rgb(72, 113, 247);


}

.renewable-hydro-content.content-2{
    margin-top: 1rem;
    background: rgb(205, 91, 69);
}

.renewable-hydro-content.content-3{
    margin-top: 1rem;
    background: rgb(85, 26, 139);
}

.renewable-hydro-content.content-4{
    margin-top: 1rem;
    background: rgb(70, 130, 300);
}

.renewable-hydro-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.renewable-hydro-ptext {
    letter-spacing: 1px;
    text-align: justify;
    font-size: 1.09rem;
    line-height: 1.5;
}

.renewable-hydro-btn-box{
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wanna-know-more-text {
  font-size: 1.2rem;
  font-weight: 700;
}


/*solar*/
.renewable-solar{
   background-image: url('../images/renewable-solar.jpg'),
   linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
   background-blend-mode: overlay;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 877px;

}

.renewable-solar-box{
   padding-top: 17rem; 
   display: flex;
   align-items: center;
   max-width: 89%;
   margin: 0 auto;
}

.renewable-solar-img-box{
    flex: 0 0 auto;
    width: 40%;
    height: 350px;
}

.renewable-solar-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.renewable-solar-content-box{
    flex: 0 0 auto;
    width: 60%;
    min-height: 350px;
}

.renewable-solar-content{
    color: #fff;
    background: rgb(25, 105, 35);
    padding: 1.2rem 2.2rem 1.2rem 1.2rem;
/*    border-radius: .5rem;*/
    max-width: 90%;
    clip-path:polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.renewable-solar-content.content-1{
    margin-top: 1.1rem;
    background: rgb(89, 65, 87);

}

.renewable-solar-content.content-2{
    margin-top: 1rem;
    background: rgb(62, 81, 122);
}

.renewable-solar-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.renewable-solar-ptext {
    letter-spacing: 1px;
    text-align: justify;
    font-size: 1.09rem;
    line-height: 1.5;
}

.renewable-solar-btn-box{
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*wind*/
.renewable-wind{
   background-image: url('../images/renewable-wind.jpg'),
   linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
   background-blend-mode: overlay;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: center 75%;
   background-repeat: no-repeat;
   height: 820px;
}

.renewable-wind-box{
   display: flex;
   align-items: center;
   max-width: 89%;
   margin: 0 auto;
}

.renewable-wind-img-box{
    flex: 0 0 auto;
    width: 50%;
    height: 665px;
    margin-right: 3rem;
}

.renewable-wind-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.renewable-wind-content-box{
    flex: 0 0 auto;
    width: 50%;
    min-height: 350px;
}

.renewable-wind-content{
    color: #fff;
    background: rgb(25, 105, 35);
    padding: 1.2rem;
    max-width: 90%;
    clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 85% 100%, 80% 90%, 20% 90%, 15% 100%, 0% 100%);
}

.renewable-wind-content.content-1{
    margin-top: 1.1rem;
    background: rgb(46, 83, 57);
}

.renewable-wind-content.content-2{
    margin-top: 1.9rem;
    background: rgb(19, 111, 99);
}


.renewable-wind-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.renewable-wind-ptext {
    letter-spacing: 1px;
    text-align: justify;
    font-size: 1.09rem;
    line-height: 1.5;
}

.renewable-wind-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*contact us*/
.contact-us{
    height: 333px;
    background: #f8f8f8;
    border-bottom: 1px solid rgba(255,255,255,.1)
}

.contact-us-container{
    max-width: 1210px;
    padding: 50px 0;
    color: #fff;
    margin: 0 auto;
    display: flex;
}

.contact-us-col-left{
    flex: 0 0 auto;
    width: 33.33333333%;
}

.contact-us-col-right{
    flex: 0 0 auto;
    width: 66.66666667%;
}

.contact-us-content{
    padding-left: 5.25rem;
}

.contact-us-icon{
   font-size: 1.9rem;
   margin-right: 1.1rem;
}

.contact-us-header > h2 {
  font-size: 2.0625rem;
  color: #015A54;
  margin: 0 0 30px;
  font-weight: 700;
}

.contact-us-header > h2 {
  font-size: 1.25rem;
}

.contact-us-details{
    list-style: none;
    padding-left: 0;
    display: flex;
    color: #02182B;
}

.contact-us-details > li{
    flex: 0 0 auto;
    width: 33.33333333%;
    display: flex;
}

.contact-us-details > li:not(:first-child){
    padding-left:1%;
}

.contact-us-details-title{
    font-weight: 600;
}

.contact-us-details-txt{
    font-size: 0.75rem;
}


/*screen sizes*/

@media only screen{

    /*bootstrap xs*/
    /*xs devices (portrait phones, less than 576px)*/
    @media (min-width: 320px){

        /*xs-screen navbar*/
        #renewable-energy-navbar {
          padding: 0;
          height: 90px;
          margin-bottom: 0;
        }

        #renewable-energy-burger-menu {
          margin-left: 0.8rem;
        }

        #renewable-energy-navMenuCollapse{
            flex-grow: 1;
        }

        #renewable-energy-navMenuCollapse > ul {
            margin-top: -8px;
            background: #fff;
        }

        .fa-solid.fa-chevron-down{
            display: none;
        }

        #renewable-energy-navMenuCollapse > ul > li.nav-item > a, 
        #renewable-energy-navMenuCollapse > ul > li.nav-item > div{
            font-size: .9rem;
        }

        .renewable-energy-brand {
          max-width: 185.08px;
        }
  
        /*xs-screen home*/
        /*head-cover*/
        .header-cover-video-box {
          height: 272px;
        }

        .header-cover-video {
          top: 90px;
        }

        /*about-us*/

        .about-us {
          height: 675px;
          padding: 20px 1.5rem;
        }

        .about-us-box {
          display: block;
        }

        .about-us-img-box {
          margin-top: -40px;  
          width: 100%;
          height: 240px;
        }

        .about-us-content-box {
          padding: 0;
        }

        .about-us-title-head {
          font-size: 1.4rem;
        }

        .about-us-ptext {
          font-size: .875rem;
          line-height: 1.6;
        }

        .btn-read-more, .btn-read-more:hover {
          width: 50% !important;
        }

        .renewable-hydro {
          height: 1570px;
        }

        .renewable-hydro-box {
          padding-top: 1rem;
          display: block;
        }

        .renewable-hydro-img-box {
          width: 75%;
          height: 285px;
          margin: 0 auto;
        }

        .renewable-hydro-content-box {
          width: 90%;
          min-height: 350px;
          margin: 0 auto;
        }

        .renewable-hydro-title {
          font-size: 1.2rem;
        }

        .renewable-hydro-ptext {
          letter-spacing: 1px;
          text-align: left;
          font-size: .938rem;
          line-height: 1.5;
        }

        .renewable-hydro-content {
          padding-top: 1.2rem;
          padding-right: 1.2rem;
          padding-bottom: 1rem;
          padding-left: 2rem;
        }

        .renewable-hydro-btn-box {
          padding-top: 2rem;
        }

        .btn-wanna-know-more, .btn-wanna-know-more:hover {
          width: 80% !important;
          padding: .5rem;
        }

        .wanna-know-more-text {
          font-size: 1rem;
        }

        .click-here-txt {
            display: none;
        }

        .renewable-wind {
          height: 915px;
        }

        .renewable-solar {
          height: 1000px;
        }

        .renewable-solar-box {
          padding-top: 2rem;
          display: block;
        }

        .renewable-solar-content {
          margin: 0 auto;
        }

        .renewable-solar-content-box {
          width: 100%;
        }

        .renewable-solar-title {
          font-size: 1.2rem;
        }

        .renewable-solar-ptext {
          text-align: left;
          font-size: .938rem;
        }

        .renewable-solar-img-box {
          width: 75%;
          height: 285px;
          margin: 0 auto;
        }

        .renewable-solar-btn-box {
          padding-top: 0;
        }

        .renewable-wind-box {
          display: block;
        }

        .renewable-wind-img-box {
          width: 90%;
          height: 285px;
          margin-right: 0;
          margin: 0 auto;
        }

        .renewable-wind-content-box {
          width: 100%;
        }

        .renewable-wind-content{
          margin: 0 auto;
        }

        .renewable-wind-title {
          font-size: 1.2rem;
        }

        .renewable-wind-ptext {
          text-align: left;
          font-size: .938rem;
        }

        .renewable-wind-btn-box {
          margin-top: 50px;
        }



        
        /*contact-us*/
        .contact-us {
          height: 700px;
        }

        .contact-us-container {
          display: block;
        }

        .contact-us-col-left{
            width: 100%;
        }

        .nexgen-energy-footer-brand-box {
          height: 127px;
        }

        .nexgen-energy-footer-brand {
          height: 97px;
          max-width: 250px;
          display: block;
          margin: 0 auto;
        }

        .contact-us-col-right {
          width: 100%;
        }
        
        .contact-us-header > h2 {
          font-size: 1.2rem;
        }

        .contact-us-content {
          padding-left: 2rem;
        }

        .contact-us-details {
          display: block;
          padding-right: 2rem;
        }

        .contact-us-details > li {
          width: 100%;
        }


        /*footer*/
        footer {
          min-height: 165.06px;
        }

        .footer-container {
          align-items: center;
        }


        .footer-copyright {
          display: block;
          font-size: .55rem;
          text-align: center;
          margin-bottom: 0;
        }

        ul.footer-copyright > li {
            margin-top: .5rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
                
            /*iPhone 3G/iPhone 4 (portrait)*/
            @media (max-width: 480px){

            }

            /*Samsung Galaxy S2 (portrait)*/
            @media (max-width: 534px){

            }

            /*iPhone 5/iPhone SE (portrait)*/
            @media (max-width: 568px){

            }


            /*Samsung Galaxy S3/S4 (portrait)*/
            @media (max-width: 640px){

            }

    }


    @media (min-width: 360px){

        /*xs-screen home*/
        /*head-cover*/
        .header-cover-pic {
          height: 640px;
        }

        .header-cover-title-box {
          bottom: 14rem;
        }

        .header-cover-title {
            font-size: 1.7rem;
        }

        .renewable-hydro {
          height: 1506px;
        }

        .renewable-solar {
          height: 910px;
        }



        /*LG Nexus 5 (portrait)*/
        /*Huawei Ascend P6/P7 (portrait)*/
        @media (max-width: 592px){
            
        }

        /*OnePlus One (portrait)*/
        /*Samsung Galaxy S5/HTC One (portrait)*/
        @media (max-width: 640px){

        }

        
    }

    
    @media (min-width: 375px){

        /*xs-screen home*/
        /*head-cover*/
        .header-cover-pic {
          height: 667px;
        }

        .header-cover-title-box {
          bottom: 14rem;
        }

        .header-cover-title {
            font-size: 1.5rem;
        }

        .renewable-hydro {
          height: 1455px;
        }

        .renewable-solar {
          height: 905px;
        }

        .renewable-wind {
          height: 865px;
        }


        /*iPhone 6, 7, 8, X (portrait)*/
        @media (max-width: 667px){

        }

    }

    
    @media (min-width: 384px){

        /*xs-screen home*/
        /*head-cover*/
        .header-cover-pic {
          height: 592px;
        }

        .header-cover-title-box {
          bottom: 14rem;
        }

        .header-cover-title {
            font-size: 1.5rem;
        }


        /*LG Nexus 4 (portrait)*/
        @media (max-width: 592px){

        }
    }


    @media (min-width: 414px) {

        /*xs-screen home*/
        /*head-cover*/
        .header-cover-pic {
          height: 736px;
        }

        .header-cover-title-box {
          bottom: 14rem;
        }

        .header-cover-title {
            font-size: 1.7rem;
        }

        .about-us-box {
          margin-top: 20px;
        }

        .about-us-content-box {
          margin-top: 1rem;
        }

        .about-us-content-box {
          margin-top: 1rem;
          padding: 0 .5rem;
        }

        .renewable-hydro {
          height: 1350px;
        }

        .renewable-solar {
          height: 875px;
        }

        .renewable-wind {
          height: 860px;
        }


        /*iPhone 6 Plus (portrait)*/
        @media (max-width: 736px){

        }
    }
    
    @media (min-width: 480px) {

        /*xs-screen home*/
        /*head-cover*/
        .header-cover-pic {
          height: 592px;
        }

        .header-cover-title-box {
          bottom: 14.5rem;
        }

        .header-cover-title {
            font-size: 1.5rem;
        }

        .about-us-title-head {
          margin-top: 2rem;
        }

        .renewable-hydro {
          height: 1290px;
        }

        .renewable-solar {
          height: 827px;
        }

        .renewable-wind {
          height: 837px;
        }



        /*iPhone 3G/iPhone 4 (landscape)*/
        @media (orientation: landscape){

        }
    }

    @media (min-width: 481px){

        /*xs-screen home*/
        /*head-cover*/
        .header-cover-pic {
          height: 592px;
        }

        .header-cover-title-box {
          bottom: 14.5rem;
        }

        .header-cover-title {
            font-size: 1.5rem;
        }


    }

    
    @media (min-width: 534px){

        /*xs-screen home*/
        /*head-cover*/
        .header-cover-video {
          top: 89px;
        }

        .about-us-img-box {
          margin-top: 5px;
          width: 100%;
          height: 270px;
        }


        .renewable-hydro {
          height: 1245px;
        }

        .renewable-hydro-box {
          padding-top: 2rem;
        }

        .renewable-solar {
          height: 822px;
        }

        .renewable-wind {
          padding-top: 2rem;  
          height: 850px;
        }

        .footer-copyright {
          font-size: .625rem;
        }


        /*Samsung Galaxy S2 (landscape)*/
        @media (orientation: landscape){

        }
    }


    @media (min-width: 568px){

        .renewable-energy-brand {
          max-width: 225.08px;
        }

        .about-us {
          height: 710px;
        }


        .about-us-img-box {
          margin-top: 0;
          height: 287px;
        }

        .about-us-ptext {
          font-size: .938rem;
        }

        .renewable-hydro-box {
          padding-top: 1.5rem;
        }

        .renewable-hydro-ptext {
          font-size: 1rem;
        }

        .renewable-solar {
          height: 815px;
        }

        .renewable-solar-ptext {
          font-size: 1rem;
        }

        .renewable-wind-box {
          padding-top: 1.5rem;
        }

        .renewable-wind-ptext {
          font-size: 1rem;
        }

        /*iPhone 5/iPhone SE (landscape)*/
        @media (orientation: landscape) {

        }
    }

    /*bootstrap sm*/
    /*sm devices (landscape phones, 576px and up*/
    @media (min-width: 576px) {

        .renewable-solar {
          height: 810px;
        }

        .renewable-wind {
          height: 867px;
        }

    }

    
    @media (min-width: 592px){

        /*xs-screen home*/

        /*Huawei Ascend P6/P7 (landscape)*/
        /*LG Nexus 4/LG Nexus 5 (landscape)*/
        @media (orientation: landscape){

        }

    }

    
    @media (min-width: 601px){

        .header-cover-video-box {
          height: 430px;
        }

        .about-us-img-box {
          height: 310px;
        }

        .renewable-hydro-box {
          padding-top: 2.5rem;
        }

        .renewable-solar-box {
          padding-top: 2.5rem;
        }

        /*Asus Nexus 7 (portrait)*/
        @media (max-width: 906px){

        }
    }

    @media (min-width: 640px){

        /*xs-screen home*/

        .header-cover-video-box {
          height: 450px;
        }

        .about-us {
          height: 752px;
        }

        .about-us-img-box {
          height: 325px;
        }

        .about-us-content-box {
          padding: 0 1rem;
        }
            

        /*Samsung Galaxy S3/S4 (landscape)*/
        @media (orientation: landscape){

        }

        /*OnePlus One (landscape)*/
        @media (orientation: landscape){

        }

        /*Samsung Galaxy S5/HTC One (landscape)*/
        @media (orientation: landscape){

        }
    }

   
    @media (min-width: 667px) {

        .header-cover-video-box {
          height: 465px;
        }
        

        /*iPhone 6, 7, 8, X (landscape)*/
        @media (orientation: landscape){

        }
    }

   
    @media (min-width: 736px){

        .header-cover-video-box {
          height: 505px;
        }

        .about-us {
          height: 820px;
        }

        .about-us-img-box {
          height: 360px;
        }

        .about-us-content-box {
          padding: 0 2rem;
        }

        .about-us-title-head {
          margin-top: 3.5rem;
        }

        .about-us-ptext {
          min-height: 200px;
          margin-top: 20px;
        }

        .btn-read-more, .btn-read-more:hover {
          width: 30% !important;
        }

        .renewable-hydro-content.content-1 {
          margin-top: 3.1rem;
        }

        .renewable-hydro-btn-box {
          padding-top: 4rem;
        }

        .btn-wanna-know-more, .btn-wanna-know-more:hover {
          width: 30% !important;
        }


        .renewable-solar-box {
          padding-top: 3.5rem;
        }

        .renewable-solar-btn-box {
          padding-top: 2rem;
        }

        .renewable-solar {
          height: 860px;
        }


        .renewable-wind-box {
          padding-top: 2.5rem;
        }

        .renewable-wind-img-box {
          height: 295px;
        }

        .renewable-wind {
          height: 887px;
        }

        .contact-us-content {
          padding-left: 4rem;
        }
                               

        /*iPhone 6 Plus (landscape)*/
        @media (orientation: landscape){

        }
    }

    /*bootstrap md*/
    /*md devices (tablets, 768px and up)*/
    @media (min-width: 768px) {

        .header-cover-video-box {
          height: 525px;
        }

        .header-cover-video {
          top: 89px;
        }

        .about-us {
          height: 915px;
        }

        .about-us-img-box {
          height: 360px;
        }

        .about-us-content-box {
          padding: 0 2.9rem;
        }

        .about-us-ptext {
          font-size: 1.125rem;
        }

        .renewable-hydro {
          height: 1290px;
        }

        .renewable-hydro-box {
          padding-top: 3.5rem;
        }

        .renewable-hydro-ptext {
          font-size: 1.125rem;
        }

        .renewable-solar-content {
          padding: 1.2rem 3.2rem 1.2rem 1.2rem;
        }

        .renewable-solar-ptext {
          font-size: 1.125rem;
        }

        .renewable-wind {
          height: 935px;
        }

        .renewable-wind-box {
          padding-top: 3.5rem;
        }

        .renewable-wind-img-box {
          height: 307px;
        }

        .renewable-wind-ptext {
          font-size: 1.125rem;
        }

        .contact-us-content {
          padding-left: 4.8rem;
        }




            /*iPad 1 and 2/iPad Air, 
            iPad Mini, iPad Pro 9,
            iPad 3 and 4 (portrait)*/
            @media (max-width: 1024px){

            }
    }
   
    @media (min-width: 834px){

        .header-cover-video-box {
          height: 560px;
        }

        /*iPad Pro 10 (portrait)*/
        @media (max-width: 1112px){

        }
    }

    
    @media (min-width: 906px){

        .header-cover-video-box {
          height: 600px;
        }

        .about-us-box {
          margin-top: 10px;
        }

        .about-us-img-box {
          height: 440px;
        }

        .renewable-hydro {
          height: 1217px;
        }

        .renewable-wind {
          height: 975px;
        }

        .renewable-wind-content-box {
          width: 90%;
          margin: 2rem auto;
        }

        .renewable-wind-img-box {
          height: 325px;
        }

        .contact-us-content {
          padding-left: 8.8rem;
        }



        /*Asus Nexus 7 (landscape)*/
        @media (orientation: landscape){

        }
    }



    /*bootstrap lg*/
    /*lg devices (desktops, 992px and up)*/
    @media (min-width: 992px) {

        /*lg-screen navbar*/
        #renewable-energy-navbar {
          padding: 0 .5rem;
        }

        #renewable-energy-burger-menu {
          margin-left: 0;
        }

        #renewable-energy-navMenuCollapse > ul {
            background: unset;
        }

        #renewable-energy-navMenuCollapse > ul > li{
            border-bottom: unset;
        }

        #renewable-energy-navMenuCollapse > ul > li:first-child{
            border-top: unset;
        }

        .fa-solid.fa-chevron-down{
            display: inline-block;
        }

        /*lg-screen navbar*/
        #renewable-energy-navMenuCollapse > ul > li.nav-item > a {
          font-size: 1rem;
          font-weight: 600;
        }

        #renewable-energy-navMenuCollapse{
            flex-grow: 0;
        }

        .renewable-energy-brand {
          max-width: 200.08px;
        }

        /*lg-screen main*/
        
        /*lg-screen home*/
        .renewable-energy-brand {
          max-width: 272.08px;
        }

        .header-cover-video-box {
          height: 645px;
        }

        .about-us {
          height: 625px;
          padding: 50px 4rem;
        }

        .about-us-box {
          display: flex;
        }

        .about-us-img-box {
          width: 47%;
          height: 350px;
        }

        .about-us-content-box {
          margin-top: 0;  
          padding: 0 0 0 2.9rem;
        }

        .about-us-title-head {
          margin-top: 0;
        }

        .about-us-ptext {
          font-size: 1.188rem;
        }

        .wanna-know-more-text {
          font-size: 1.1rem;
        }

        .renewable-hydro {
          height: 1157px;
        }

        .renewable-hydro-box {
          padding-top: 4rem;
          display: flex;
        }

        .renewable-hydro-img-box {
          width: 40%;
          height: 275px;
        }

        .renewable-hydro-content-box {
          width: 60%;
          min-height: 350px;
          padding-left: 2rem;
          padding-right: 1.5rem;
        }

        .renewable-solar {
          height: 700px;
        }

        .renewable-solar-box {
          padding-top: 5rem;
        }

        .renewable-solar-box {
          padding-top: 17rem;
          display: flex;
        }

        .renewable-solar-content-box {
          width: 60%;
        }

        .renewable-solar-box {
          padding-top: 4rem;
          display: flex;
        }

        .renewable-solar-img-box {
          width: 40%;
          height: 350px;
        }

        .renewable-solar-btn-box {
          padding-top: 4rem;
        }

        .renewable-wind {
          height: 735px;
        }

        .renewable-wind-box {
          display: flex;
          padding-top: 1.5rem;
        }

        .renewable-wind-img-box {
          width: 50%;
          height: 205px;
          margin-right: 1.5rem;
        }

        .renewable-wind-content-box {
          width: 50%;
          min-height: 350px;
        }

        .btn-wanna-know-more, .btn-wanna-know-more:hover {
          width: 25% !important;
        }

       
        /*contact-us*/
        
        .contact-us-container {
          max-width: 1210px;
          padding: 50px 4rem;
          display: flex;
        }

        .contact-us-col-left {
          width: 33.33333333%;
        }

        .nexgen-energy-footer-brand {
          height: 145px;
          max-width: 250px;
          margin:unset;
          display: unset;
        }

        .nexgen-energy-footer-brand-box {
          height: 137px;
        }

        .contact-us-col-right {
          width: 66.66666667%;
        }

        .contact-us-content {
          padding-left: 5.25rem;
        }

        .contact-us-header > h2 {
          font-size: 1.25rem;
        }


        /*footer*/
        footer {
          min-height: 70.06px;
        }

        .footer-copyright {
          display: flex;
          font-size: .7rem;
          text-align: center;
        }

        ul.footer-copyright > li {
            margin-top: .5rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }



  
    }

    
    @media (min-width: 1024px){

        /*lg-screen navbar*/
        #renewable-energy-navMenuCollapse > ul > li.nav-item > a {
          font-size: 1rem;
        }

        .header-cover-video-box {
          height: 667px;
        }


        /*iPad Pro 12 (portrait)*/
        @media (max-width: 1112px){

        }

        /*iPad 1 and 2/iPad Air, 
        iPad Mini, iPad Pro 9',
        iPad 3 and 4 (landscape)*/
        @media (orientation: landscape){

        }
    }


    
    @media (min-width: 1112px){


        /*iPad Pro 10 (landscape)*/
        @media (orientation: landscape){

        }

    }

    /*bootstrap xl*/
    /*xl devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {

        /*xl-screen navbar*/
        #renewable-energy-navbar {
          padding: 0 1.25rem 0;
          height: 97px;
          margin-bottom: 0;
        }

        .renewable-energy-brand {
          max-width: 240.08px;
        }

        #renewable-energy-navMenuCollapse > ul > li.nav-item > a{
            font-size: 1rem;
        }
        
        /*lg-screen home*/
        .header-cover-video-box {
          height: 765px;
        }


        /*about-us*/
        .readmore-text {
          font-size: 1rem;
        }

        .renewable-hydro {
          height: 1085px;
        }

        .renewable-solar {
          height: 660px;
        }

        .renewable-wind {
          height: 700px;
        }

        .btn-wanna-know-more, .btn-wanna-know-more:hover {
          width: 20% !important;
        }


        /*contact-us*/
        
        .contact-us-header > h2 {
          font-size: 1.25rem;
        }

        /*footer*/
        footer {
          min-height: 50.06px;
        }

        .renewable-energy-footer-brand-box {
          padding: 0;  
          height: 105px;
        }

        .renewable-energy-footer-brand {
          height: 145px;  
          max-width: 250px;
        }

        .social-links {
          font-size: .875rem;
          margin: 1rem 0 2rem;
        }

        .social-links-logo {
          height: 22px;

        }

        .footer-copyright {
          font-size: .7rem;
        }

    }

     /*HD laptops*/
    @media (min-width: 1366px){

        .renewable-hydro {
          height: 995px;
        }

        .renewable-solar {
          height: 660px;
        }

        .btn-wanna-know-more, .btn-wanna-know-more:hover {
          width: 20% !important;
        }

        /*iPad Pro 12 (landscape)*/
        @media (orientation: landscape){

        }
    }

    /*bootstrap xxl*/
    /*xxl devices (large desktops, 1400px and up)*/
    @media (min-width: 1400px) {
        
        .header-cover-video-box {
          height: 890px;
        }

        .renewable-solar-box {
          padding-top: 6rem;
        }

        .btn-wanna-know-more, .btn-wanna-know-more:hover {
          width: 20% !important;
        }

    }

    /*13" MacBook Pro*/
    @media (min-width: 1440px) {
        .header-cover-video-box {
          height: 890px;
        }
    }


    /*max-width settings*/
    @media (max-width: 480px){

    }

    /*container adjustment at md*/
    @media (max-width: 768px){

        .renewable-energy-container{
            width: 100%;
            max-width: 100%;
        }
        
    }


}


/*btn animation*/
.pulse {
  position: relative;
  box-shadow: 0 0 0 0 #18a75b;
  background: #18a75b;
  padding: .5rem .75rem;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  border: none;
  cursor: pointer !important;
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);

}

.pressable{
    transition-duration: .2s;
    perspective: 1000px;
    transform-origin: center bottom 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.clicked {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

.pulse:hover {
    animation: none;
  }

@keyframes pulse {to {box-shadow: 0 0 0 16px rgba(232, 76, 61, 0);}}



/*kits*/

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

.text-vio{
   color: rgb(88, 80, 141);
}

.primary-color{
   color: #0067F4 !important;
}

.secondary-color{
   color: #5A6169 !important;
}

.success-color{
   color: #17C671 !important;
}

.info-color{
    color: #00B8D8 !important;
}

.warning-color{
   color: #FFB400 !important;
}

.danger-color{
   color: #C4183C !important;
}

.light-color{
   color: #E9ECEF !important;
}

.dark-color{
   color: #212529 !important;
}

.btn-light-green{
    background: #609966;
}

.btn-light-green:hover{
    background: #609966;
}

.btn-blue-gray, .btn-blue-gray:hover{
    background: #546c78;
}


.btn-read-more, .btn-wanna-know-more, .btn-learn-more, .btn-contact-us
{
    --bs-btn-box-shadow: 0rem 0.0625rem 0.0625rem #1f21241a;
    padding: 7px 16px;
    --bs-btn-border-radius: 0 !important;
}

.btn-read-more, .btn-read-more:hover{
    border-width: .15rem;
    width: 30%;
    --bs-btn-bg: transparent !important;
    --bs-btn-color: #1C9647 !important;
    --bs-btn-border-color: #1C9647 !important;
    --bs-btn-hover-bg: transparent !important;
    --bs-btn-hover-color: #1C9647 !important;
    --bs-btn-hover-border-color: #1C9647 !important;
    --bs-btn-active-bg: transparent !important;
    --bs-btn-active-color: #1C9647 !important;
    --bs-btn-active-border-color: #1C9647 !important;
/*    --bs-btn-border-radius: 0.1875rem !important;*/
}

.btn-wanna-know-more, .btn-wanna-know-more:hover{
    border-width: .15rem;
    width: 25%;
    padding: 1rem;
}

.btn-wanna-know-more.know-more-hydro{
    --bs-btn-bg: #2A7F62 !important;
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: #2A7F62 !important;
    --bs-btn-hover-bg: #44BBA4 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-border-color: #44BBA4 !important;
    --bs-btn-active-bg: #2A7F62 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-border-color: #2A7F62 !important;
/*    --bs-btn-border-radius: 0.1875rem !important;*/
}

.btn-wanna-know-more.know-more-solar{
    --bs-btn-bg: #DC6C04 !important;
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: #DC6C04 !important;
    --bs-btn-hover-bg: #E77D1A !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-border-color: #E77D1A !important;
    --bs-btn-active-bg: #DC6C04 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-border-color: #DC6C04 !important;
/*    --bs-btn-border-radius: 0.1875rem !important;*/
}

.btn-wanna-know-more.know-more-wind{
    --bs-btn-bg: #264AB4 !important;
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: #264AB4 !important;
    --bs-btn-hover-bg: #2D55CE !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-border-color: #2D55CE !important;
    --bs-btn-active-bg: #264AB4 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-border-color: #264AB4 !important;
/*    --bs-btn-border-radius: 0.1875rem !important;*/
}


.btn-learn-more, .btn-learn-more:hover{
    width: 30%;
    --bs-btn-bg: rgb(0, 111, 143) !important;
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: rgb(0, 111, 143) !important;
    --bs-btn-hover-bg: rgb(0, 111, 143) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-border-color: rgb(0, 111, 143) !important;
    --bs-btn-active-bg: rgb(0, 111, 143) !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-border-color: rgb(0, 111, 143) !important;
    --bs-btn-border-radius: 0.1875rem !important;
}

.btn-contact-us, .btn-contact-us:hover{
    width: 20%;
    --bs-btn-bg: rgb(0, 111, 143) !important;
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: rgb(0, 111, 143) !important;
    --bs-btn-hover-bg: rgb(0, 111, 143) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-border-color: rgb(0, 111, 143) !important;
    --bs-btn-active-bg: rgb(0, 111, 143) !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-border-color: rgb(0, 111, 143) !important;
    --bs-btn-border-radius: 0.1875rem !important;
}

.modal {
    --bs-modal-border-radius: 0 !important;
}

.card {
    --bs-card-border-radius: 0 !important;
}

.border-left-curved{
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
}

.weight-500{
   font-weight: 500;
}

.btn-shadow{
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
}

.text-shadow {
   text-shadow: 1px 2px 4px rgba(0,0,0,0.3) !important;
}

.text-light-shadow{
 text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important;
}

.text-ext-light-shadow {
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3) !important;
}

.bitshrink{
    width:98.9% !important;
}

.padlft-0{
    padding-left: 0 !important;
}

.mr-1{
    margin-right: 1rem !important;
}

.ml-1{
    margin-left: 1rem !important;
}

/*animations*/
/*zoomIn*/
 .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
} 

/*bounce*/
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
  }
  }
  
  @keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
  }
  } 




